@import url('https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&family=Prata&display=swap');

body {
    font-family: "Economica", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.navbar-nav {
    flex-grow: 1;
    justify-content: center;
}

.navbar-nav .nav-link,
.d-flex .nav-link {
    font-size: 1.25rem;
    padding: 15px 20px;
    margin-right: 20px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover,
.d-flex .nav-link:hover {
    background-color: #f0f0f0;
    color: #0056b3;
}

.itemActive {
    color: #0056b3;
}

.fond-vert, .fond-vert-services, .fond-vert-habitats {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
    border-radius: 150px;
}

.fond-vert {
    background-image: url('../img/fond_vert.jpg');
}

.fond-vert-services {
    background-image: url('../img/services.jpg');
}

.fond-vert-habitats {
    background-image: url('../img/habitats.jpg');
}


.carousel-item img {
    max-height: 400px;
    width: auto;
    object-fit: cover;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

.containerFeuille {
    bottom: 100px;
    position: absolute; 
    height: 50vh; 
}

.feuilleDouble {
    position: sticky; 
    top: 10px;  
    width: 100px;
    height: auto; 
    z-index: 10; 
    transform: scaleX(1) rotate(45deg);
}

.containerFeuille1 {
    bottom: 100px;
    position: absolute; 
    height: 50vh; 
}

.feuilleDouble1 {
    position: sticky; 
    top: 10px;  
    width: 100px; 
    height: auto; 
    z-index: 10; 
    transform: scaleX(-1) rotate(45deg);
}

.sectionAbs{
    position: relative;
}

.footer {
    background-color: #333; 
    color: #fff; 
}

.footer a.text-white:hover {
    color: #ddd; 
}

.footer h5 {
    margin-bottom: 20px;
}

.list-group-item:hover {
    background-color: #f0f0f0;
    cursor: pointer; 
}

.cardImg {
    width: 100%;
    height:250px;
    object-fit: cover;
}

.square-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.animal {
    width: 8em; 
    height: 8em;
}

.login-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 50%;
    text-align: center;
}

.login-card h1 {
    color: #333;
}

.login-card form {
    display: flex;
    flex-direction: column;
}

.login-card input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-card button {
    background-color: #5C67F2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;
}

.login-card button:hover {
    background-color: #4a54f1;
}

.help-text {
    margin-top: 20px;
}

.help-text a {
    color: #6a7bfd;
    text-decoration: none;
}
